.footer {
   margin: 2% 0% 5% 0%;
   text-align: center;
   font-size: 1.2em;
   clear: both;
}

#overview-panel {
   overflow: auto;
   float: left;
   margin-bottom: 3%;
   padding: 5%;
}

#overview-panel .panel {
   float: left;
   width: 40%;
   margin: 0% 2%;
}

.icon {
   display: block;
   width: 40px;
   height: 40px;
   margin: 10%;
}

.icon-link{
   margin: 0;
   padding: 0;
}

.list-group-item {
   width: 20%;
   float: left;
   margin: 1% 2%;
}

.item-list {
   overflow: auto;
   width: 100%;
}

.repair-item {
   padding: 3%;
   box-shadow: lightgray 5px 0px 5px;
}

.repair-item h4 {
   text-align: center;
   font-size: 1.8em;
}

.repair-item img {
   max-height: 18%;
   margin-left: auto;
   margin-right: auto;
}

.repair-item p {
   margin: 5px 0 0 0;
   font-size: 1.2em;
}

.no-padding {
   padding: 0;
}

.no-margin {
   margin: 0;
}

.service-list {
   float: left;
   margin-right: 10;
}
