.footer {
   margin: 2% 0% 5% 0%;
   text-align: center;
   font-size: 1.2em;
   clear: both;
}

#overview-panel {
   overflow: auto;
   float: left;
   margin-bottom: 3%;
}

#overview-panel .panel {
   float: left;
   width: 29%;
   margin: 0% 2%; 
}

.icon {
   display: block;
   width: 40px;
   height: 40px;
   margin: 10%;
}

.icon-link{
   margin: 0;
   padding: 0;
}

.list-group-item {
   width: 20%;
   float: left;
   margin: 1% 2%;
}

.item-list {
   overflow: auto;
   width: 100%;
}

.item {
   border-style: solid;
   border-color: gray;
   border-width: 1px;
   border-radius: 3px;
   box-shadow: darkgray 2px 2px;
}

.item h5 {
   text-align: center;
}

.no-padding {
   padding: 0;
}

.no-margin {
   margin: 0;
}

